<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Kungly</title>
	<atom:link href="http://kungly-dynamic.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://kungly-dynamic.com</link>
	<description>MMA is the Past</description>
	<lastBuildDate>Wed, 13 Jul 2016 07:52:27 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=4.3.5</generator>
	<item>
		<title>Hello world!</title>
		<link>http://kungly-dynamic.com/2016/07/08/hello-world/</link>
		<comments>http://kungly-dynamic.com/2016/07/08/hello-world/#comments</comments>
		<pubDate>Fri, 08 Jul 2016 11:43:08 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://kungly-dynamic.com/?p=1</guid>
		<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
				<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
			<wfw:commentRss>http://kungly-dynamic.com/2016/07/08/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
